.container {
    background-color: white;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.rech-container {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: min(100vw, 1200px);
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 10px;
    scrollbar-width: none;
}
.rech-container::-webkit-scrollbar {
    display: none;
}
.rech-container > div {
    width: 100%;
    display: flex;
}
.rech-container > div > div {
    display: flex;
    align-items: center; 
    justify-content: center;
    color: #29518C;
    border-bottom: rgb(51,51,51) 1px solid;
}
.rech-container > div.main {
    background-color: #6091CC;
    color: white;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    margin-bottom: 10px;
}
.rech-container > div.main > div {
    border-bottom: none;
}
.rech-container > div > div:nth-child(1),
.rech-container > div > div:nth-child(2),
.rech-container > div > div:nth-child(3),
.rech-container > div > div:nth-child(4) {
    width: 20%;
    font-size: 16px;
    color: rgb(88,87,87) !important;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0 10px;
}
.rech-container > div > div:nth-child(3) {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.rech-container> div > div:nth-child(4) > button {
    all: unset;
    text-align: center;
    align-self: center;
    justify-self: center;
    background-color: #6091CC;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 15px;

    &:hover {
        background-color: #29518C;
    }
}
.rech-container > div:not(.main) > div:nth-child(2) {
    font-size: 14px !important;
    text-align: left;
    border-left: 0.6px solid gray;
    border-right: 0.6px solid gray;
}
.rech-container > div > div:nth-child(1) {
    color: #29518C !important;
    text-align: left;
    word-break: break-all;
}
.rech-container > div.main > div {
    color: white !important;
    display: flex;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}
.code-container {
    background-color:rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.code {
    color: #29518C;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 10px;
}
.code > div {
    margin-bottom: 20px;
}
.close {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    justify-self: right;
    padding: 2px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: white;
        background-color: #29518C;
    }
}
img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 20vh;
}
.code > button {
    all: unset;
    background-color: #29518C;
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin-left: 5px;
    &:hover {
        background-color: #6091CC;
        color: #29518C;
    }
}
.code input {
    all: unset;
    border: 1px #29518C solid;
    border-radius: 3px;
    padding: 5px;
}
@media screen and (max-width: 900px) {
 .rech-container > div {
    flex-direction: column;
    margin: 20px 0;
 }
 .rech-container > div > div {
    width: 100% !important;
    border: none;

 }
 .rech-container > div.main {
    display: none;
 }
 .rech-container > div > div > button {
    margin: 10px 0 !important;
 }
 .rech-container > div > div:nth-child(4) {
    border-bottom: 2px solid #6091CC;
 }
} 
