<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PIMASTER</title>
</head>
<body>
  <div class="langages">
    <img src="../assets/images/fr.svg" alt="french"(click)="changeLanguage('fr')"/>
    <img src="../assets/images/nl.svg" alt="nederlands"(click)="changeLanguage('nl')"/>
    <img src="../assets/images/en.png" alt="english"(click)="changeLanguage('en')"/>
  </div>
  <app-navig></app-navig>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</body>
</html>