<div class="container">
    <div class="tables-container">
        <div class="bloc">
            <div class="themes">{{ "orthopedie" | translate }}</div>
            <div class="sous-themes">
                <div class="gauche">{{ "fractures" | translate }}</div>
                <div class="droite">
                    <div>{{ 'plaques-et-vis' | translate }} </div>
                    <div>{{ 'enclouages' | translate }}</div>
                    <div>{{ 'fixateurs-externes' | translate }}</div>
                    <div>ILOC ({{ 'cblo' | translate }})</div>
                    <div>MIPO ({{ 'mipo' | translate }})</div>
                    <div>{{ 'osteotomies-de-correction' | translate }}</div>
                </div>
            </div>
            <div class="sous-themes">
                <div class="gauche">RLCA</div>
                <div class="droite">
                    <div>{{ 'extra-caps' | translate }}</div>
                    <div>TTA ({{ 'tta' | translate }})</div>
                    <div>TPLO ({{ 'tplo' | translate }})</div>
                    <div>CBLO ({{ 'cblo' | translate }})</div>
                </div>
            </div>
        </div>

        <div class="bloc">
            <div class="themes">{{ "arthroscopie" | translate }}</div>
            <div class="sous-themes">
                <div class="gauche">{{ "epaule" | translate }}</div>
                <div class="droite">
                    <div>OCD</div>
                    <div>TENDONS BICEPS</div>
                </div>
            </div>
            <div class="sous-themes">
                <div class="gauche">{{ "coude" | translate }}</div>
                <div class="droite">
                    <div>FMCP</div>
                </div>
            </div>
            <div class="sous-themes">
                <div class="gauche">{{ "genou" | translate }}</div>
                <div class="droite">
                    <div>{{ "menisque" | translate | uppercase }}</div>
                </div>
            </div>
        </div>

        <div class="bloc">
            <div class="themes">{{ "neurochirurgie" | translate }}</div>
            <div class="sous-themes">
                <div class="gauche">{{ "hernie-discale" | translate }}</div>
                <div class="droite">
                    <div>HT I</div>
                    <div>HT II</div>
                </div>
            </div>
            <div class="sous-themes">
                <div class="gauche">WOBBLER DACSM</div>
                <div class="droite"></div>
            </div>
            <div class="sous-themes">
                <div class="gauche">{{ "cerveau" | translate }}</div>
                <div class="droite"></div>
            </div>
        </div>
    </div>
</div>

