<div class="container-home">
    <div>
        <img src="assets/images/white-logo.svg" alt="logo primaster">
    </div>
    <div class="coordonnees">
        <div>
            PIMASTER SRL <br>
            <div class="small">TVA BE 458 65 54 </div>
            D.M.V. Pierre MATHIEU<br>
            <div class="small">
                18 rue du Chaufour <br>
                5190 SPY
            </div>
        </div>
        <div> 
            {{ 'consultation-chez' | translate }} <br>
            {{bevetLink}} <br>
            +32 475 448 678
        </div>
        <div>
            {{ "veterinaire-petits-animaux" | translate }} <br>
            {{ "chirurgie-ortho" | translate }} <br>
            {{ "arthroscopie" | translate }} <br>
            {{ "chir-neuro" | translate }}
        </div>
    </div>
    <app-footer></app-footer>
</div>
