<div class="container">
    <div class="rgpd">

    <h1>{{ 'politique-de-conf' | translate }}</h1>

    <p>{{ 'rgpd-p0a' | translate}} : 26-12-2024 </p>
    <p>{{ 'rgpd-p0b' | translate}}</p>

    <h2>1. {{ 'rgpd-h1' | translate}}</h2>
    <p>{{ 'rgpd-p1a' | translate}}</p>
    <p>{{ 'rgpd-p1b' | translate}}</p>
    <p>{{ 'rgpd-p1c' | translate}}</p>

    <h2>2. {{ 'rgpd-h2' | translate}}</h2>
    <p>{{ 'rgpd-p2a' | translate}}</p>
    <p>{{ 'rgpd-p2b' | translate}}</p>
    <p>{{ 'rgpd-p2c' | translate}}</p>
    <p>{{ 'rgpd-p2d' | translate}}</p>
    <p>{{ 'rgpd-p2e' | translate}}</p>
    <p>{{ 'rgpd-p2f' | translate}}</p>
    
    <h2>3. {{ 'rgpd-h3' | translate}}</h2>
    <p>{{ 'rgpd-p3a' | translate}}</p>
    <p>{{ 'rgpd-p3b' | translate}}</p>
    <p>{{ 'rgpd-p3c' | translate}}</p>
    <p>{{ 'rgpd-p3d' | translate}}</p>
    <p>{{ 'rgpd-p3e' | translate}}</p>
    
    <h2>4. {{ 'rgpd-h4' | translate}}</h2>
    <p>{{ 'rgpd-p4a' | translate}}</p>
    <p>{{ 'rgpd-p4b' | translate}}</p>
    <p>{{ 'rgpd-p4c' | translate}}</p>
    <p>{{ 'rgpd-p4d' | translate}}</p>

    <h2>5. {{ 'rgpd-h5' | translate}}</h2>
    <p>{{ 'rgpd-p5a' | translate}}</p>

    <h2>6. {{ 'rgpd-h6' | translate}}</h2>
    <p>{{ 'rgpd-p6a' | translate}}</p>
    <p>{{ 'rgpd-p6b' | translate}}</p>
    <p>{{ 'rgpd-p6c' | translate}}</p>
    <p>{{ 'rgpd-p6d' | translate}}</p>
    <p>{{ 'rgpd-p6e' | translate}}</p>
    <p>{{ 'rgpd-p6f' | translate}}</p>
    <p>{{ 'rgpd-p6g' | translate}}</p>
    <p>{{ 'rgpd-p6h' | translate}}</p>
    <p>{{ 'rgpd-p6i' | translate}} info&#64;pimaster.be</p>
    
    <h2>7. {{ 'rgpd-h7' | translate}}</h2>
    <p>{{ 'rgpd-p7a' | translate}}</p>
    
    <h2>8. {{ 'rgpd-h8' | translate}}</h2>
    <p>{{ 'rgpd-p8a' | translate}}</p>
    
    <h2>9. {{ 'rgpd-h9' | translate}}</h2>
    <p>{{ 'rgpd-p9a' | translate}}</p>
    <p>{{ 'rgpd-p9b' | translate}} info&#64;pimaster.be</p>
   
    </div>
</div>